body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main{
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}